.container{
	padding: 16px;
	border: solid green;
}
/* Full-width input fields */
input[type=text], input[type=password], input[type=number] , input[type=tel], input[type=email], input[type=date]{
	width: 40%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Set a style for all buttons */
.cancelbtn, .signupbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.main-centered-content{
	max-width:960px;
	margin-left:auto;
	margin-right:auto;
	
}

label{
	box-sizing: border-box;
    /* border: 2px solid blue; */
    display: inline-block;
    padding: 8px;
    font-size: 15px;
    text-align: right;
    width: 35%;
    margin-top: 4px;
}

select{
	width: 40%;
	padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#stEpruvet{
	width: 8%;
}
#myDIV {

}
