
\.idea/

patronazna_sluzba_project/patronazna_sluzba_app/__pycache__/

patronazna_sluzba_project/patronazna_sluzba_app/migrations/__pycache__/

patronazna_sluzba_project/patronazna_sluzba_project/__pycache__/

patronazna_sluzba_project/db\.sqlite3
