{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registracija uporabnika</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- CUSTOM CSS (PLACE AFTER BOOTSTRAP FOR OVERRIDE or use !IMPORTANT ) -->
  <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/register_pac.css' %}">
  

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   <script src="{% static 'script/customScript.js' %}"></script> 
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--AJAX Posta-->
    <script src="{% static 'script/ajax.js' %}"></script>
  <script>
    $( function() {
        $( ".datepicker" ).datepicker({changeYear:true, dateFormat: 'dd-mm-yy',yearRange: "-100:+0"})
    } );
    </script>

</head>

<body  id="full_page_content">
  <div class="container">
      <section>
        <!--<div class="container">-->
          <h3 style="text-align: center;">REGISTRACIJA OSKRBOVANE OSEBE</h3>
          <hr>
          {{ add_nursing_patient_form.non_field_errors }}
          <form method="post" class="form-horizontal col-lg-offset-3 col-lg-6 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">
            {% csrf_token %}
            <div class="form-group">
              {{ add_nursing_patient_form.relation.errors }}
              <label class="control-label" for="{{ add_nursing_patient_form.relation.id_for_label }}">{{ add_nursing_patient_form.relation.label }}</label>
              {{ add_nursing_patient_form.relation }}
            </div>
            <div class="form-group">
              {{ add_nursing_patient_form.card_number.errors }}
              <label class="control-label" for="{{ add_nursing_patient_form.card_number.id_for_label }}">{{ add_nursing_patient_form.card_number.label }}</label>
              {{ add_nursing_patient_form.card_number }}
            </div>
            <div class="form-group">
              {{ add_nursing_patient_form.first_name.errors }}
              <label class="control-label" for="{{ add_nursing_patient_form.first_name.id_for_label }}">{{ add_nursing_patient_form.first_name.label }}</label>
              {{ add_nursing_patient_form.first_name }}
            </div>
            <div class="form-group">
              {{ add_nursing_patient_form.last_name.errors }}
              <label class="control-label" for="{{ add_nursing_patient_form.last_name.id_for_label }}">{{ add_nursing_patient_form.last_name.label }}</label>
              {{ add_nursing_patient_form.last_name }}
            </div>
            <div class="form-group">
              {{ add_nursing_patient_form.address.errors }}
              <label class="control-label" for="{{ add_nursing_patient_form.address.id_for_label }}">{{ add_nursing_patient_form.address.label }}</label>
              {{ add_nursing_patient_form.address }}
            </div>
            <div class="form-group">
              {{ add_nursing_patient_form.post_code.errors }}
              <label class="control-label" for="{{ add_nursing_patient_form.post_code.id_for_label }}">{{ add_nursing_patient_form.post_code.label }}</label>
              {% csrf_token %}
                <input type="text" list="post_codes" id="search_post" name="search_post" class="form-control"/>
                <datalist id="post_codes">

                </datalist>



                <!--{{ add_nursing_patient_form.post_code }}-->
            </div>
            <div class="form-group">
              {{ add_nursing_patient_form.district.errors }}
              <label class="control-label" for="{{ add_nursing_patient_form.district.id_for_label }}">{{ add_nursing_patient_form.district.label }}</label>
              {{ add_nursing_patient_form.district }}
            </div>
            <div class="form-group">
              {{ add_nursing_patient_form.phone_number.errors }}
              <label class="control-label" for="{{ add_nursing_patient_form.phone_number.id_for_label }}">{{ add_nursing_patient_form.phone_number.label }}</label>
              {{ add_nursing_patient_form.phone_number }}
              <!--<input type="tel" required="required"/>-->
            </div>
            <div class="form-group">
              {{ add_nursing_patient_form.birth_date.errors }}
              <label class="control-label" for="{{ add_nursing_patient_form.birth_date.id_for_label }}">{{ add_nursing_patient_form.birth_date.label }}</label>
              {{ add_nursing_patient_form.birth_date }}
              <!--<input type="date" required="required"/>-->
            </div>
            <div class="form-group">
              {{ add_nursing_patient_form.sex.errors }}
              <label class="control-label" for="{{ add_nursing_patient_form.sex.id_for_label }}">{{ add_nursing_patient_form.sex.label }}</label>
              {{ add_nursing_patient_form.sex }}
            </div>
            <br/>
              <div class="form-group clearfix">
                <button type="submit" class="btn btn-primary form-control signupbtn">Dodaj oskrbovanca</button>
              </div>    
              <div class="form-group">
                <a href="{% url 'link_control_panel' %}" class="btn btn-default form-control">Prekliči</a>
              </div>
              <div class="button-padder form-group"></div>
        </form>   
      <!--</div>-->
    </div>
</body>
</html>