

{% if task.count > 0 %}

{% for t in task %}
    {% if forloop.first  %}
             <div>
            <label class="form-control-static">Zdravnik</label>
            <input type="text" value="{{ t.delovni_nalog.zdravnik.uporabniski_profil.first_name }}  {{ t.delovni_nalog.zdravnik.uporabniski_profil.last_name }}" disabled class="form-control">
            </div>

    {%  endif %}
{%  endfor %}
{%for o in obisk %}
    {% if forloop.first  %}
        {% if o.p_sestra_id == main_nurse.id  %}
            <div>
            <label class="form-control-static">Medicinska sestra</label>
            <input type="text" value="{{o.p_sestra.uporabniski_profil.first_name }}  {{ o.p_sestra.uporabniski_profil.last_name }}" disabled class="form-control">
            </div>

        {%  else %}
            <div>
            <label class="form-control-static">Nadomestna sestra</label>
            <input type="text" value="{{main_nurse.uporabniski_profil.first_name }}  {{ main_nurse.uporabniski_profil.last_name }}" disabled class="form-control">
            </div>
         {%  endif %}
    {%  endif %}
{%  endfor %}
{% for t in task %}
    {% if forloop.first  %}
            <div>
            <label class="form-control-static">Vrsta obiska</label>
            <input type="text" value="{{ t.delovni_nalog.vrsta_obiska.tip }}" disabled class="form-control">
            </div>
            <div>
            <label class="form-control-static">Podvrsta obiska</label>
            <input type="text" value="{{ t.delovni_nalog.vrsta_obiska.ime }}" disabled class="form-control">
            </div>
            <div>
            <label class="form-control-static">Bolezen</label>
            <input type="text" value="{{ t.delovni_nalog.bolezen.ime }}" disabled class="form-control">
            </div>
             <div>
            <label class="form-control-static">Predvidevani datumi obiskov</label>
                 {%for o in obisk %}
                     {%  if o.obvezen_obisk == 1 %}
                            <input type="text" value="{{o.datum|date:'d.m.Y' }}  Obvezen" disabled class="form-control">
                     {%  else %}
                         <input type="text" value="{{o.datum|date:'d.m.Y' }}  Okviren" disabled class="form-control">
                     {%  endif %}
                {%  endfor %}
            <!--<input type="text" value="{{ t.delovni_nalog.datum_prvega_obiska|date:'d.m.Y' }}" disabled class="form-control">-->
            <!-- <input type="text" value="{{ t.delovni_nalog.obveznost_obiska }}" disabled class="form-control">-->
            </div>
            <div>
               <label class="form-control-static" >Število obiskov</label>
                <input type="text" value="{{ t.delovni_nalog.st_obiskov }}" disabled class="form-control">

                </div>
           {%  if t.delovni_nalog.cas_obiskov_tip == "Interval" %}
                <div>
                <label class="form-control-static" >Časovni interval</label>
                <input type="text" value="{{ interval }}" disabled class="form-control">
                </div>
                <div>
               <label class="form-control-static" >Časovno obdobje</label>
                <input type="text" value="{{ period }}" disabled class="form-control">

                </div>
           {%  else %}
               <div>
                <label class="form-control-static" >Časovni interval</label>
                <input type="text" value="{{ interval }}" disabled class="form-control">
                </div>
                <div>
               <label class="form-control-static" >Časovno obdobje</label>
                <input type="text" value="{{ period }}" disabled class="form-control">

                </div>
           {%  endif %}






    {%  endif %}
{%  endfor %}

        <div>
        <label class="form-control-static">Pacient</label>
        {% for t in task %}
            <input type="text" value="{{ t.pacient.ime }} {{ t.pacient.priimek }}" disabled class="form-control">
        {%  endfor %}
        </div>

{% for t in task %}
        {% if t.delovni_nalog.vrsta_obiska.ime == 'Odvzem krvi'  %}

                <div>
                    <label class="form-control-static">Epruvete</label>
                    {% for m in material %}
                        <input type="text" value="{{ m.material.ime }} {{ m.kolicina }}" disabled class="form-control">
                    {%  endfor %}
                </div>

        {%  endif %}

        {% if t.delovni_nalog.vrsta_obiska.ime == 'Aplikacija injekcij'  %}

                <div>
                    <label class="form-control-static">Zdravila</label>
                    {% for m in medicine %}
                        <input type="text" value="{{ m.zdravilo.kratko_poimenovanje }}" disabled class="form-control">
                    {%  endfor %}
                </div>

        {%  endif %}

{%  endfor %}

{% else %}

<li>None to show!</li>

{%  endif %}