{% load mathfilters %}
{% load app_filters %}
{% if visit_list|length > 0 %}

   <!-- <p>imeto bese:{{ visit_list.0.delovni_nalog.zdravnik.uporabniski_profil.first_name|length}}</p>
    {% with visit_list.0.id|int_length as dolzina %}
        <p>dolzina:{{ 5|sub:dolzina}} </p>
    {% endwith %}-->

<select>
{% for visit in visit_list %}
        {% if visit.p_sestra_id == nurse  %}

            {% if visit.delovni_nalog.zdravnik != None  %}
                <option value="{{ visit.id }} {{ visit.delovni_nalog_id }} {{ visit.obvezen_obisk }} {{ visit.datum|date:'d.m.Y'}}">
            {{ visit.id }}
                    {% with visit.id|int_length as dolzina %}
                        {% for i in 5|sub:dolzina|times %}
                            &nbsp;
                        {% endfor %}
                     {% endwith %}
            &emsp;&nbsp;{{ visit.delovni_nalog.zdravnik.uporabniski_profil.first_name|name_initial}}. {{ visit.delovni_nalog.zdravnik.uporabniski_profil.last_name}}
                    {% with visit.delovni_nalog.zdravnik.uporabniski_profil.last_name|text_length as dolzina %}
                        {% for i in 12|sub:dolzina|times %}
                            &nbsp;
                        {% endfor %}
                     {% endwith %}
            {{ visit.p_sestra.uporabniski_profil.first_name|name_initial }}. {{ visit.p_sestra.uporabniski_profil.last_name }}
                    {% with visit.p_sestra.uporabniski_profil.last_name|text_length as dolzina %}
                        {% for i in 12|sub:dolzina|times %}
                            &nbsp;
                        {% endfor %}
                     {% endwith %}
                   NE&emsp;&emsp;&emsp;&emsp;&emsp;{{ visit.datum|date:"d.m.Y"}}&emsp;&emsp;{{ visit.obvezen_obisk }}
                   {% if visit.obvezen_obisk == "Obvezen" %}
                          {% for i in 4|times %}
                            &nbsp;
                          {% endfor %}
                   {% else %}
                          {% for i in 5|times %}
                            &nbsp;
                          {% endfor %}
                   {% endif %}


                    {{ visit.delovni_nalog.vrsta_obiska.ime }}</option>

            {% else  %}
                <option value="{{ visit.id }} {{ visit.delovni_nalog_id }} {{ visit.obvezen_obisk }} {{ visit.datum|date:'d.m.Y'}}">
                        {{ visit.id }}
                    {% with visit.id|int_length as dolzina %}
                        {% for i in 5|sub:dolzina|times %}
                            &nbsp;
                        {% endfor %}
                     {% endwith %}
            &emsp;&nbsp;{{ visit.delovni_nalog.vodja_PS.uporabniski_profil.first_name|name_initial}}. {{ visit.delovni_nalog.vodja_PS.uporabniski_profil.last_name}}
                    {% with visit.delovni_nalog.vodja_PS.uporabniski_profil.last_name|text_length as dolzina %}
                        {% for i in 12|sub:dolzina|times %}
                            &nbsp;
                        {% endfor %}
                     {% endwith %}
            {{ visit.p_sestra.uporabniski_profil.first_name|name_initial }}. {{ visit.p_sestra.uporabniski_profil.last_name }}
                    {% with visit.p_sestra.uporabniski_profil.last_name|text_length as dolzina %}
                        {% for i in 12|sub:dolzina|times %}
                            &nbsp;
                        {% endfor %}
                     {% endwith %}
                   NE&emsp;&emsp;&emsp;&emsp;&emsp;{{ visit.datum|date:"d.m.Y"}}&emsp;&emsp;{{ visit.obvezen_obisk }}
                   {% if visit.obvezen_obisk == "Obvezen" %}
                          {% for i in 4|times %}
                            &nbsp;
                          {% endfor %}
                   {% else %}
                          {% for i in 5|times %}
                            &nbsp;
                          {% endfor %}
                   {% endif %}


                    {{ visit.delovni_nalog.vrsta_obiska.ime }}</option>

            {% endif  %}

        {% else %}
            {% if visit.delovni_nalog.zdravnik != None  %}
               <option value="{{ visit.id }} {{ visit.delovni_nalog_id }} {{ visit.obvezen_obisk }} {{ visit.datum|date:'d.m.Y'}}">
            {{ visit.id }}
                   {% with visit.id|int_length as dolzina %}
                        {% for i in 5|sub:dolzina|times %}
                            &nbsp;
                        {% endfor %}
                     {% endwith %}
            &emsp;&nbsp;{{ visit.delovni_nalog.zdravnik.uporabniski_profil.first_name|name_initial}}. {{ visit.delovni_nalog.zdravnik.uporabniski_profil.last_name}}
                   {% with visit.delovni_nalog.zdravnik.uporabniski_profil.last_name|text_length as dolzina %}
                        {% for i in 12|sub:dolzina|times %}
                            &nbsp;
                        {% endfor %}
                     {% endwith %}
            {{ visit.p_sestra.uporabniski_profil.first_name|name_initial }}. {{ visit.p_sestra.uporabniski_profil.last_name }}
                   {% with visit.p_sestra.uporabniski_profil.last_name|text_length as dolzina %}
                        {% for i in 12|sub:dolzina|times %}
                            &nbsp;
                        {% endfor %}
                     {% endwith %}

                   DA&emsp;&emsp;&emsp;&emsp;&emsp;{{ visit.datum|date:"d.m.Y"}}&emsp;&emsp;{{ visit.obvezen_obisk }}
                   {% if visit.obvezen_obisk == "Obvezen" %}
                          {% for i in 4|times %}
                            &nbsp;
                          {% endfor %}
                   {% else %}
                          {% for i in 5|times %}
                            &nbsp;
                          {% endfor %}
                   {% endif %}
                   {{ visit.delovni_nalog.vrsta_obiska.ime }}</option>

            {% else  %}
              <option value="{{ visit.id }} {{ visit.delovni_nalog_id }} {{ visit.obvezen_obisk }} {{ visit.datum|date:'d.m.Y'}}">
                {{ visit.id }}
                       {% with visit.id|int_length as dolzina %}
                            {% for i in 5|sub:dolzina|times %}
                                &nbsp;
                            {% endfor %}
                         {% endwith %}
                &emsp;&nbsp;{{ visit.delovni_nalog.vodja_PS.uporabniski_profil.first_name|name_initial}}. {{ visit.delovni_nalog.vodja_PS.uporabniski_profil.last_name}}
                       {% with visit.delovni_nalog.vodja_PS.uporabniski_profil.last_name|text_length as dolzina %}
                            {% for i in 12|sub:dolzina|times %}
                                &nbsp;
                            {% endfor %}
                         {% endwith %}
                {{ visit.p_sestra.uporabniski_profil.first_name|name_initial }}. {{ visit.p_sestra.uporabniski_profil.last_name }}
                       {% with visit.p_sestra.uporabniski_profil.last_name|text_length as dolzina %}
                            {% for i in 12|sub:dolzina|times %}
                                &nbsp;
                            {% endfor %}
                         {% endwith %}

                       DA&emsp;&emsp;&emsp;&emsp;&emsp;{{ visit.datum|date:"d.m.Y"}}&emsp;&emsp;{{ visit.obvezen_obisk }}
                       {% if visit.obvezen_obisk == "Obvezen" %}
                              {% for i in 4|times %}
                                &nbsp;
                              {% endfor %}
                       {% else %}
                              {% for i in 5|times %}
                                &nbsp;
                              {% endfor %}
                       {% endif %}
                       {{ visit.delovni_nalog.vrsta_obiska.ime }}</option>


            {% endif  %}

        {%  endif %}
    {%  endfor %}
</select>
{% else %}

<li>None to show!</li>

{%  endif %}