{% if visit_list|length > 0 %}
<select>
{% for visit in visit_list %}
    <option value="{{ visit.id }} {{ visit.delovni_nalog_id }} {{ visit.obvezen_obisk }} {{ visit.datum|date:'d.m.Y'}}">
        {{ visit.delovni_nalog_id }}&emsp;{{ visit.delovni_nalog.zdravnik.uporabniski_profil.first_name}} {{ visit.delovni_nalog.zdravnik.uporabniski_profil.last_name}}&emsp;
        {{ visit.p_sestra.uporabniski_profil.first_name }} {{ visit.p_sestra.uporabniski_profil.last_name }}&emsp;&emsp;&emsp;&emsp;{{ visit.datum|date:"d.m.Y"}}&emsp;{{ visit.obvezen_obisk }}&emsp;&emsp;&emsp;{{ visit.delovni_nalog.vrsta_obiska.ime }}</option>

    {%  endfor %}
</select>
{% else %}

<li>None to show!</li>

{%  endif %}