{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Aplikacija-PatronažnaSlužba</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Latest compiled and minified CSS -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{% static 'script/customScript.js' %}"></script>
	<!-- CUSTOM CSS (PLACE AFTER BOOTSTRAP FOR OVERRIDE or use !IMPORTANT) -->		
	<!--<link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">


	{% block head_extend %}
	
	
	{% endblock %}

</head>

<body id="full_page_content">


	<nav class="navbar navbar-inverse navbar-static-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="#">PatronažnaSlužba</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	        {% for link in link_list %}
	        	<li class="{% if nbar == link.2 %}active{% endif %}" ><a href="{% url link.0 %}"><span class="glyphicon {{link.3}}"></span>{{ link.1 }}</a></li>
	        {% endfor %}
	        {% for dropdown in dropdowns_list %}
	        	<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{dropdown.1}}<span class="caret"></span></a>
	        	<ul class="dropdown-menu">
	        	{% for choice in dropdown.0 %}
	        		<li class="{% if nbar == choice.2 %}active{% endif %}" ><a href="{% url choice.0 %}"><span class="glyphicon {{choice.3}}"></span>{{ choice.1 }}</a></li>
	        	{% endfor %}
	        	</ul>
	        	</li>
	        {% endfor %}

	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	{% if user.is_authenticated %}
	        <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{ user }}</a></li>
	        <li><a href="{% url 'link_logout' %}"><span class="glyphicon glyphicon-log-out"></span>Izpis</a></li>
	        {% else %}
	        <li><a href="#"><span class="glyphicon glyphicon-user"></span>Uporabnik</a></li>
	        <li><a href="/"><span class="glyphicon glyphicon-log-out"></span>Izpis</a></li>
	        {% endif %}
	      </ul>
	    </div>
	  </div>
	</nav>



	<div class="container cont col-lg-12 col-md-12 col-sm-12 col-xs-12" >
		<div id="left_side_content" class="cont col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<!--
			{% if user.is_authenticated %}
			<h1>Prijavljen: {{ user_role }}</h1>
			{% endif %}
			-->
		</div>
		<div id="central_content" class="cont col-lg-8 col-md-8 col-sm-12 col-xs-12">
			{% block main_content %}
			
			
			{% endblock %}
		</div>
		<div id="right_side_content" class="cont col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<!--
			<h4>SEZNAM OSKRBOVANCEV</h4>
			{% if user.is_authenticated %}
				{% for o in oskrbovanci_pacienta %}
					<p>{{ o.ime }}</p>
				{% endfor %}
			{% endif %}
			-->
		</div>
	</div>
	<footer></footer>
</body>
</html>