{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>PATRONAZA</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- CUSTOM CSS (PLACE AFTER BOOTSTRAP FOR OVERRIDE or use !IMPORTANT ) -->
	<link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>
	<div class="jumbotron col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<img id="jumbo_img" class="img-responsive center-block img-rounded" src="{% static '/img/heatlhcare_banner.jpg' %}">
	</div>

	<!--
	<div class="container">
		<form id="login_form" class="form-horizontal col-lg-offset-4 col-lg-4 col-md-4 cold-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">
		  <div class="form-group">
		    <label for="email">E-postni naslov:</label>
		    <input type="email" class="form-control" id="email">
		  </div>
		  <div class="form-group">
		    <label for="pwd">Geslo:</label>
		    <input type="password" class="form-control" id="pwd">
		  </div>
		  <div class="login-checkbox">
		    <label><input type="checkbox">Zapomni si me</label>
		  </div>
		  <br/>
		  <button type="submit" class="btn btn-primary form-control">Vpisi me</button>
		</form>
	</div>
	-->
	<!-- 
	DEFAULT FORM CALLBACK
	<div class="container">
		<form action="index" method="post">
		    {% csrf_token %}
		    {{ login_form }}
		    <input type="submit" value="Submit" />
		</form>
	</div>
	-->

	<!-- CUSTOM FORM CALL -->
	<div class="container">
		{{ login_form.non_field_errors }}
		<form method="post" id="login_form" class="form-horizontal col-lg-offset-4 col-lg-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">
			{% csrf_token %}
			<div class="form-group">
		  		{{ login_form.username.errors }}
		    	<label for="{{ login_form.username.id_for_label }}">E-postni naslov:</label>
		    	{{ login_form.username }}
		    	<!--<input type="email" class="form-control" id="email">-->
		  	</div>
		  	<div class="form-group">
		  		{{ login_form.password.errors }}
		    	<label for="{{ login_form.password.id_for_label }}">Geslo:</label>
		    	{{ login_form.password }}
		    	<!--<input type="password" class="form-control" id="pwd">-->  
		  	</div>
		  	<div class="login-checkbox">
		    	<label><input type="checkbox">Zapomni si me</label>
		  	</div>
		  	<br/>
		  	<button type="submit" class="btn btn-primary form-control">Vpisi me</button>
		</form>
	</div>
</body>
</html>