{% extends 'base.html' %}
{% load staticfiles %}

{% block head_extend %}
        <!--DATEPICKER-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!--sweetalert js-->
        <script src="{% static 'script/dist/sweetalert.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'script/dist/sweetalert.css' %}">
        <script>
            $( function() {

                $( ".datepicker" ).datepicker({changeYear:true, dateFormat: 'dd.mm.yy',yearRange: "-100:+0",beforeShowDay: $.datepicker.noWeekends });

            } );
        </script>


{% endblock %}


{% block main_content %}

<h2 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Konec nadomeščanja</h2>
   <!-- {{ plan_visit_form.non_field_errors }}-->
	<form method="post" id="medical_reg_form" class="left form-horizontal col-lg-10 col-lg-offset-1  col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" style="text-align: left">

        <div class="row form-group">

			<!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding: 3px;">-->
		  	<label  class="control-label" for="{{ substitution_form.nurses.id_for_label }}">{{ substitution_form.nurses.label }}</label>
            {% csrf_token %}
			{{ substitution_form.nurses }}
		  	<!--</div>-->

	  	</div>
		<div class=" row form-group">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding: 3px;">
		  		 <button type="submit" class="btn btn-primary form-control" id="confirm_nurse">Potrdi</button>
		  	</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding: 3px;">
                 <a href="{%url 'link_sub_finished' %}" id="cancel" name="cancel" class="cancelbtn btn btn-default form-control">Prekliči</a>
		  	</div>

	  	</div>
	  	
	</form>
<div class="row">
        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>Seznam nadomeščanj </h3>
     		<hr>
            {% if nadomescanje_list %}

            <table class="table table-striped tablesorter list-table" id ="table_of_work_tasks" style="text-align: center">
            	<thead>
            	<tr>
                    <th>#</th>
            		<th>Odsotna sestra</th>
            		<th>Nadomestna sestra</th>
            		<th>Začetek nadomeščanja</th>
            		<th>Konec nadomeščanja</th>
            	</tr>
            	</thead>
            	<tbody>
            	{% for nadomescanje in nadomescanje_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ nadomescanje.sestra }}</td>
                    <td>{{ nadomescanje.nadomestna_sestra}}</td>
                    <td>{{ nadomescanje.datum_zacetek|date:"d.m.Y"}}</td>
                    <td>{{ nadomescanje.datum_konec|date:"d.m.Y"}}</td>
                </tr>
                {% endfor %}
                </tbody>
    		</table>

            {% else %}
                <p>Seznam nadomeščanj je  prazen</p>
            {% endif %}
            </div>
        </div>



{% endblock %}


