{% extends 'base.html' %}
{% load staticfiles %}


{% block main_content %}
	
	<link rel="stylesheet" type="text/css" href="{% static '/css/work_task_list.css' %}">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


	<!--<script type="text/javascript" src="/path/to/jquery-latest.js"></script>--> 
	<script type="text/javascript" src="{% static '/script/jquery.tablesorter.min.js' %}"></script> 
	<!-- CUSTOM SCRIPT ~ SHOULD EVENTUALY BE MOVED TO OWN FILE -->
	<script type="text/javascript">

	$(document).ready(function() {
		$('.datepicker').datepicker({changeYear:true, dateFormat: 'dd.mm.yy',yearRange: "-100:+0",beforeShowDay: $.datepicker.noWeekends });
		$('.task_expansion').hide();

		//add table sorting
		$("#table_of_work_tasks").tablesorter( {sortList: [[5,0]]} ); 

		//$("#filter_toggler").click(function(){
        //	$("#filter_form").toggle();
    	//});
	});

	</script>

	<script>
		function show_visit_detail(objButton) {
			$('.visit_expansion').hide();
		    //alert(objButton.value);
			console.log(objButton.value);
			button_id = objButton.value;
			console.log('#button_id')
			$('#button_id').show();
			document.getElementById(button_id).style.display="block";

		}
	</script>

    {% if user.is_authenticated %}
    	        <div class="row">
        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>Seznam opravljenih obiskov</h3>
     		<hr>
            {% if visitations_list_complete and work_task_list %}
            <div class="table-responsive">
                <table class="table table-striped tablesorter list-table" id ="table_of_visitations_waiting" style="text-align: center">
                	<thead>
                	<tr>
                		<th></th>
                		<th>Šifra obiska</th>
                		<th>Šifra naloga</th>
                		<th>Izdajatelj naloga</th>
                		<th>Medicinska sestra</th>
                		<th>Nadomestna medicinska sestra</th>
                		<th>Pacient</th>
                		<th>Vrsta obiska</th>
                		<th>Predviden datum obiska</th>
                		<th>Dejanski datum obiska</th>
                		<th>Obvezen obisk</th>
                		<th>Opravljen obisk</th>
                		<th></th>
                	</tr>
                	</thead>
                	<tbody>
                	{% for visit in visitations_list_complete %}
        	        <tr>
        	        	<td></td>
        	        	<td># {{visit.id}}</td>
        	        	<td># {{visit.delovni_nalog.id}}</td>
                		<td>

        	        		{% if visit.delovni_nalog.zdravnik_id %}
        	        			{% for doc in doctors %}
        	        				{% if doc.id == visit.delovni_nalog.zdravnik_id %}
        	        					{{doc.uporabniski_profil.first_name}} {{doc.uporabniski_profil.last_name}}
        	        				{% endif %}
        	        			{% endfor %}
        	        		{% elif visit.delovni_nalog.vodja_PS_id %}
        	        			{% for head in head_nurses %}
        	        				{% if head.id == visit.delovni_nalog.vodja_PS_id %}
        	        					{{head.uporabniski_profil.first_name}} {{head.uporabniski_profil.last_name}}
        	        				{% endif %}
        	        			{% endfor %}
        	        		{% else %}
        	        			Podatki o izdajatelju vam niso na voljo.
        	        		{% endif %}


                		</td>
                		<td>{{visit.p_sestra}}</td>
                		<td> 
                		{% if substitutions %}
                			{% for sub in substitutions %}
                				{% if sub.sestra.id == visit.p_sestra.id and visit.datum >= sub.datum_zacetek and sub.datum_konec >= visit.datum %}


                                    {{ sub.nadomestna_sestra }}
                				{% endif %}
                			{% endfor %}
                		{% endif %}
                		</td>
                		<td>
    	            		{% if pacient_list %}
    	            			{% for p in pacient_list %}
    	            				{% if p.delovni_nalog.id == visit.delovni_nalog.id %}
    	            					<p>{{ p.pacient.ime }} {{ p.pacient.priimek }}</p>
    	            				{% endif %}
    	            			{% endfor %}  
    	            		{% else%}
    	            			Podatki o pacientih niso dostopni
    	            		{% endif %}
                		</td>
                		<td>{{ visit.delovni_nalog.vrsta_obiska.ime }}</td>
                		<td>{{ visit.datum|date:"d.m.Y" }}</td>
                		<td> - </td>
                		<td>
                			{% if visit.obvezen_obisk %}
                				Da
                			{% else %}
                				Ne
                			{% endif %}
                		</td>
                		<td>
                			{% if visit.opravljen %}
                				Da
                			{% else %}
                				Ne
                			{% endif %}
                		</td>
                		<td>
                			<button onclick="show_visit_detail(this)" type="submit" class="btn btn-info btn-sm form-control" name="expand" data-toggle="modal" data-target="#myModal" value={{visit.id}}>Podrobnosti</button>
                		</td>

                	</tr>
                    {% endfor %}
                    </tbody>
        		</table>
            </div>
            {% else %}
                <p>Pretekli obiski ne obstajajo.</p>
            {% endif %}
            </div>
        </div>



        <div class="row">
        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>Napovedani obiski</h3>
     		<hr>
            {% if visitations_list_waiting and work_task_list %}
            <div class="table-responsive">
                <table class="table table-striped tablesorter list-table" id ="table_of_visitations_waiting" style="text-align: center">
                	<thead>
                	<tr>
                		<th></th>
                		<th>Šifra obiska</th>
                		<th>Šifra naloga</th>
                		<th>Izdajatelj naloga</th>
                		<th>Medicinska sestra</th>
                		<th>Nadomestna medicinska sestra</th>
                		<th>Pacient</th>
                		<th>Vrsta obiska</th>
                		<th>Predviden datum obiska</th>
                		<th>Dejanski datum obiska</th>
                		<th>Obvezen obisk</th>
                		<th>Opravljen obisk</th>
                		<th></th>
                	</tr>
                	</thead>
                	<tbody>
                	{% for visit in visitations_list_waiting %}
        	        <tr>
        	        	<td></td>
        	        	<td># {{visit.id}}</td>
        	        	<td># {{visit.delovni_nalog.id}}</td>
                		<td>

        	        		{% if visit.delovni_nalog.zdravnik_id %}
        	        			{% for doc in doctors %}
        	        				{% if doc.sifra_zdravnika == visit.delovni_nalog.zdravnik_id %}
        	        					{{doc.uporabniski_profil.first_name}} {{doc.uporabniski_profil.last_name}}
        	        				{% endif %}
        	        			{% endfor %}
        	        		{% elif visit.delovni_nalog.vodja_PS_id %}
        	        			{% for head in head_nurses %}
        	        				{% if head.sifra_vodje_PS == visit.delovni_nalog.vodja_PS_id %}
        	        					{{head.uporabniski_profil.first_name}} {{head.uporabniski_profil.last_name}}
        	        				{% endif %}
        	        			{% endfor %}
        	        		{% else %}
        	        			Podatki o izdajatelju vam niso na voljo.
        	        		{% endif %}

                		</td>
                		<td>{{visit.p_sestra}}</td>
                		<td> 
                		{% if substitutions %}
                			{% for sub in substitutions %}
                				{% if sub.sestra.id == visit.p_sestra.id and visit.datum >= sub.datum_zacetek and sub.datum_konec >= visit.datum %}


                                    {{ sub.nadomestna_sestra }}
                				{% endif %}
                			{% endfor %}
                		{% endif %}
                		</td>
                		<td>
    	            		{% if pacient_list %}
    	            			{% for p in pacient_list %}
    	            				{% if p.delovni_nalog.id == visit.delovni_nalog.id %}
    	            					<p>{{ p.pacient.ime }} {{ p.pacient.priimek }}</p>
    	            				{% endif %}
    	            			{% endfor %}  
    	            		{% else%}
    	            			Podatki o pacientih niso dostopni
    	            		{% endif %}
                		</td>
                		<td>{{ visit.delovni_nalog.vrsta_obiska.ime }}</td>
                		<td>{{ visit.datum|date:"d.m.Y" }}</td>
                		<td> - </td>
                		<td>
                			{% if visit.obvezen_obisk %}
                				Da
                			{% else %}
                				Ne
                			{% endif %}
                		</td>
                		<td>
                			{% if visit.opravljen %}
                				Da
                			{% else %}
                				Ne
                			{% endif %}
                		</td>
                		<td>
                			<button onclick="show_visit_detail(this)" type="submit" class="btn btn-info btn-sm form-control" name="expand" data-toggle="modal" data-target="#myModal" value={{visit.id}}>Podrobnosti</button>
                		</td>

                	</tr>
                    {% endfor %}
                    </tbody>
        		</table>
            </div>
            {% else %}
				<p>Ni napovedanih novih obiskov. V primeru potrebe po obisku, se obrnite na vašega zravnika.</p>
            {% endif %}
            </div>
        </div>
    {% endif %}



    <div class="modal fade" id="myModal" role="dialog">
    	<div class="modal-dialog">
    
	      <!-- Modal content-->
	      	<div class="modal-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
		        <div class="modal-header">
		          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		          	<h4 class="modal-title">Podrobnosti obiska</h4>
		        </div>
		        	{% if visitations_list_complete and work_task_list %}
		        		{% for visit in visitations_list_complete %}
                            <div class="visit_expansion col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" id="{{visit.id}}">
                                <div class ="row">
                                    <p style="float: center; background-color: #15a7c7; color:white; font-size: 18px;border-radius: 5px;padding: 5px;"><b>Pacient:</b></p>
                                    <br>
                                    {% for pdn in all_p_DN %}
                                        {% if pdn.delovni_nalog == visit.delovni_nalog %}
                                            <p style="float: center;"><b>{{ pdn.pacient.ime }} {{ pdn.pacient.priimek }}</b></p>
                                        {% endif %}         
                                    {% endfor %}
                                </div>
                                <hr>

                                <div class ="row">
                                    <p style="float: center; background-color: #15a7c7; color:white; font-size: 18px;border-radius: 5px;padding: 5px;"><b>Izvedla patronažna sestra / brat:<b></p>
                                    <p style="float: center;">{{ visit.p_sestra.uporabniski_profil.first_name }} {{ visit.p_sestra.uporabniski_profil.last_name }}<br>
                                    {{visit.datum|date:"d.m.Y" }} </p>
                                </div>
                                <hr>
                                
                                <div class ="row">
                                    <p style="float: center; background-color: #15a7c7; color:white; font-size: 18px;border-radius: 5px;padding: 5px;"><b>Vrsta obiska:<b></p>
                                    <p style="float: center;">{{ visit.obisk_vrsta_tostring }} </p>
                                </div>
                                <hr>
                                
                                <p>OPRAVLJENE MERITVE: </p>
                                <hr>
                                {% for m in visit.porocilo_izpis %}
                                    {% if m.3 %}
                                        <div class ="row">
                                            <p style="float: center; background-color: #2eb82e; color:white; font-size: 18px;border-radius: 5px;padding: 5px;"><b>{{m.3}}</b></p>
                                        </div>
                                    {% endif %}
                                    {% if m.0 %}
                                        <div class ="row">
                                            <p style="float: center; background-color: #15a7c7; color:white; font-size: 18px;border-radius: 5px;padding: 5px;"><b>{{m.0}}</b></p>
                                            <label style="float: center;">{{m.1}}:</label>
                                            <p style="float: center;">{{m.2}}</p>
                                        </div>
                                    {% else %}
                                        <div class ="row">
                                            <label style="float: center;">{{m.1}}:</label>
                                            <p style="float: center;">{{m.2}}</p>
                                        </div>
                                    {% endif %}
                                    <hr>        
                                {% endfor %}
                            </div>
		        		{% endfor %}
		        	{% endif %}
                    {% if visitations_list_waiting and work_task_list %}
		        		{% for visit in visitations_list_waiting %}
                            <div class="visit_expansion col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" id="{{visit.id}}">
                                <div class ="row">
                                    <p style="float: center; background-color: #15a7c7; color:white; font-size: 18px;border-radius: 5px;padding: 5px;"><b>Pacient:</b></p>
                                    <br>
                                    {% for pdn in all_p_DN %}
                                        {% if pdn.delovni_nalog == visit.delovni_nalog %}
                                            <p style="float: center;"><b>{{ pdn.pacient.ime }} {{ pdn.pacient.priimek }}</b></p>
                                        {% endif %}         
                                    {% endfor %}
                                </div>
                                <hr>

                                <div class ="row">
                                    <p style="float: center; background-color: #15a7c7; color:white; font-size: 18px;border-radius: 5px;padding: 5px;"><b>Izvedla patronažna sestra / brat:<b></p>
                                    <p style="float: center;">{{ visit.p_sestra.uporabniski_profil.first_name }} {{ visit.p_sestra.uporabniski_profil.last_name }}<br>
                                    {{visit.datum|date:"d.m.Y" }} </p>
                                </div>
                                <hr>
                                
                                <div class ="row">
                                    <p style="float: center; background-color: #15a7c7; color:white; font-size: 18px;border-radius: 5px;padding: 5px;"><b>Vrsta obiska:<b></p>
                                    <p style="float: center;">{{ visit.obisk_vrsta_tostring }} </p>
                                </div>
                                <hr>
                                
                                <p>OPRAVLJENE MERITVE: </p>
                                <hr>
                                {% for m in visit.porocilo_izpis %}
                                    {% if m.3 %}
                                        <div class ="row">
                                            <p style="float: center; background-color: #2eb82e; color:white; font-size: 18px;border-radius: 5px;padding: 5px;"><b>{{m.3}}</b></p>
                                        </div>
                                    {% endif %}
                                    {% if m.0 %}
                                        <div class ="row">
                                            <p style="float: center; background-color: #15a7c7; color:white; font-size: 18px;border-radius: 5px;padding: 5px;"><b>{{m.0}}</b></p>
                                            <label style="float: center;">{{m.1}}:</label>
                                            <p style="float: center;">{{m.2}}</p>
                                        </div>
                                    {% else %}
                                        <div class ="row">
                                            <label style="float: center;">{{m.1}}:</label>
                                            <p style="float: center;">{{m.2}}</p>
                                        </div>
                                    {% endif %}
                                    <hr>        
                                {% endfor %}
                            </div>
		        		{% endfor %}
		        	{% endif %}
		        <div class="modal-footer">
		          	<button type="button" class="btn btn-default" data-dismiss="modal">Nazaj</button>
		        </div>
	      	</div>
    	</div>
  	</div>


{% endblock %}