{% extends 'base.html' %}
{% load staticfiles %}

{% block head_extend %}


    <!--<link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <!--<link rel="stylesheet" href="{% static 'css/workTask.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/work_task_simple.css' %}">

    <script src="{% static 'script/customScript.js' %}"></script>
    <script src="{% static 'script/addPatient.js' %}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--AJAX Zdravila-->
    <script src="{% static 'script/ajax.js' %}"></script>
    <!--CLIENT SIDE VALIDATION-->
    <script src="{% static 'script/work_task_validation.js' %}"></script>

    <!-- ADD FORM CLASS -->
    <script src="{% static 'script/add_form_classes.js' %}"></script>

    <!--MODAL -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--sweetalert js-->
        <script src="{% static 'script/dist/sweetalert.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'script/dist/sweetalert.css' %}">
    <script>

    

    $( function() {
        $( ".datepicker" ).datepicker({changeYear:true, dateFormat: 'dd.mm.yy',yearRange: "-100:+0",beforeShowDay: $.datepicker.noWeekends })
    } );
    </script>
    
{% endblock %}

{% block main_content %}
    
    <h2>Kreiranje delovnega naloga</h2>


        <!--<div class="container">-->
                {{ work_task_form.non_field_errors }}
                    <form method="post" style="border:1px solid #ccc text-align: left" class="form-horizontal col-lg-10 col-lg-offset-1  col-md-12 col-sm-12 col-xs-12">
                    {% csrf_token %}
                    <!--Fieldset goes here-->
                    <fieldset class=" col-lg-10 col-lg-offset-1  col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12" id="simpleForm">
                        <legend>
                         <h3> <span> 1 - Zdravnik</span></h3>
                            </legend>
                        <div class="form-group row" >
                            <!--<label for="myName">?tevilka izvajalca:</label>
                            <input type="text" name="myName" id="myName">-->
                            <div class="in_wrap col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                                <label >Številka zdravnika/vodje PS</label>
                                <input id="id_creator_id" type="text" name="id_creator_id" value="{{ creator_id }}" disabled required>
                            </div>
                        </div>
                        <div class="form-group row" >
                            <div class="in_wrap col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                                <label>Številka izvajalca</label>
                                {{ work_task_form.nurse_id }}
                            </div>
                        </div>

                    </fieldset>
                    <!--Vrsta obiskov-->
                    <fieldset class=" col-lg-10 col-lg-offset-1  col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12"  id="simpleForm">
                        <legend>
                         <h3> <span> 2　— Vrste obiskov</span></h3>
                            </legend>
                        <div class="form-group row" >
                            <div class="in_wrap col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                                <label for="choose-visit">Vrste obiskov</label>
                                {% csrf_token %}
                                {{ work_task_form.visitType}}
                            </div>
                        </div>
                        <div class="form-group row" >
                            <div class="in_wrap col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                                <label for="visitType">Podvrste obiskov</label>
                                {{ work_task_form.visitTypeDetail }}
                            </div>
                        </div>
                    </fieldset>
                    <!--Podatki o pacientu-->
                    <fieldset class=" col-lg-10 col-lg-offset-1  col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12"  id="simpleForm">
                        <legend>
                         <h3> <span> 3　— Zavarovana oseba</span></h3>
                            </legend>
                        <div>
                            <div class="form-group row" >
                            <div class="in_wrap col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                                <label for="searchPatient">Ime</label>
                                {% csrf_token %}
                                <input type="text" list="patientsList" id="searchPatient" name="searchPatient" />
                                <datalist id="patientsList">

                                </datalist>
                            
                                <!--<input required type="number"/>-->
                                <button class="add-baby btn btn-primary" style="display: none;">Dodaj pacient</button>
                            </div>
                            </div>
                            <div  class="form-group"  id="baby-patient" style="display: none">
                                <div class="in_wrap col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                                <label for="id_addPatient">Izbrani pacienti</label>
                                {{ work_task_form.addPatient }}
                                <button class="remove-baby btn btn-primary" style="display: none;">Odstrani pacienta</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                        <!--SIFRANT BOLEZNI-->

                    <fieldset class=" col-lg-10 col-lg-offset-1  col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12"  id="simpleForm">
                        <legend>
                         <h3> <span> 4　— Bolezen</span></h3>
                            </legend>
                        <div class="form-group row">
                        <div class="in_wrap col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                            <label for="illness">Vrsta bolezni</label>
                            {% csrf_token %}
                            <input type="text" list="illness_list" id="search_illness" name="search_illness" required />
                            <datalist id="illness_list">

                            </datalist>
                            </div>
                    </div>
                    </fieldset>
                    <!--Datum obiskov-->
                    <fieldset class=" col-lg-10 col-lg-offset-1  col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12"  id="simpleForm">
                        <legend>
                         <h3> <span> 5　— Datum obiska</span></h3>
                            </legend>
                        <div class="form-group row" >
                            <div class="in_wrap col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                            <label for="visitDate">Datum prvega obiska</label>
                            {{ work_task_form.visitDate }}
                            </div>
                            </div>
                            <div class="form-group row" >   
                            <div class="in_wrap col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">    
                                <label for="id_mandatory">Obveznost datuma (obkljukano - DA )</label>
                                {{ work_task_form.mandatory }}
                            <!--<input id="visitDate" type="date" required="required" onchange="firstVisitDate()"/>
                            <label>Obvezen</label>
                            <input type="checkbox"/>-->
                            </div>
                        </div>
                        <div class="form-group row" >
                        <div class="in_wrap col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                            <label for="id_visitCount">Število obiskov</label>
                            {{ work_task_form.visitCount }}
                            <!--<input type="number" max=10 required />-->
                            </div>
                        </div>
                        <div class="form-group row" >
                        <div class="in_wrap col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                            <label for="timeInterval">Časovni interval(v dnevih)</label>
                            <!--<input id="timeInterval" type="text"/>-->
                            {{ work_task_form.timeInterval }}
                            </div>
                        </div>
                        <div class="form-group row" >
                        <div class="in_wrap col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                            <label for="timePeriod">Časovno obdobje(v dnevih)</label>
                            {{ work_task_form.timePeriod }}
                            <!--<input id="timePeriod" type="text" />-->
                            </div>
                        </div>
                        <!--
                        <div>
                            <label>Radio izbira cas obiksa tip</label>
                            {{ work_task_form.visit_date_type }}
                        </div>
                        -->
                    </fieldset>
                    <!--Zdravila-->
                    <div id="cureId" style="display: none">
                        <fieldset class=" col-lg-10 col-lg-offset-1  col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12"  id="simpleForm">
                            <legend>
                             <h3> <span> 6　— Zdravila</span></h3>
                            </legend>
                            <div class="form-group row" >
                            <div class="in_wrap col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                                <label for="medicine">Izbira zdravil</label>
                                {% csrf_token %}
                                <input type="text" list="search-results" id="medicine" name="medicine" />
                                <datalist id="search-results">

                                </datalist>
                                <button class=" btn btn-primary add-medicine">Dodaj zdravilo</button>
                            </div>
                            </div>
                            <div class="form-group row" >
                            <div class="in_wrap col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                            <label for="id_cureId">Izbrana zdravila</label>
                            {{ work_task_form.cureId }}
                                <button class=" btn btn-primary remove-medicine">Odstrani zdravila</button>
                             </div>
                             </div>
                        </fieldset>
                    </div>
                    </fieldset>
                    <!--Material-->
                    <div id="materialId" style="display:none">
                    <fieldset class=" col-lg-10 col-lg-offset-1  col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12"  id="simpleForm">
                        <legend>
                         <h3> <span> 7　— Material</span></h3>
                        </legend>
                        <div class="form-group row" >
                        <div class="in_wrap col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                        <label for="id_materialColor">Barva in število euruvet</label>
                        {{ work_task_form.materialColor }}
                        {{ work_task_form.materialQuantity }}
                             <button class=" btn btn-primary add-material">Dodaj material</button>
                        </div>
                        </div>
                        <div class="form-group row" >
                        <div class="in_wrap col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                            <label for="id_materialDN">Izbran material</label>
                            {{ work_task_form.materialDN }}
                            <button class=" btn btn-primary remove-material">Odstrani material</button>
                        </div>
                        </div>
                    </fieldset>
                    </div>
                        <div class="col-lg-10 col-lg-offset-1  col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                            <div class="form-group row">
                            <div class="in_wrap col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                              <button type="button" id="confirm" class="btn btn-primary form-control">Ustvari</button>   
                            </div>
                            </div>
                            <div class="form-group row" >
                            <div class="in_wrap col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                              <!--<button type="button" class="cancelbtn btn btn-default form-control">Prekliči</button>-->
                                <a href="/base/controlPanel/" id="cancel" name="cancel" class="cancelbtn btn btn-default form-control">Prekliči</a>
                            </div>
                            </div>
                        </div>
                    
                </form>             
{% endblock %}