.jumbotron {
    background-color:transparent !important; 
    padding-top: 0px !important;
    margin-top: 0px !important;
    max-height: 60vh;
}

#jumbo_img{
    padding-top: 0;
    margin-top: 0;
    max-height: 60vh;
}

.login-checkbox{
	text-align: left;
	align-content: center;
}

html, body {
    margin: 0;
    max-height: 100%;
}

.button-padder {
	bottom: 0;
	min-height:10vh;
}

#register-link{
	text-align: right;
	align-content: right !important;
	float: right !important;
	position: right !important;
}
