.jumbotron {
    background-color:transparent !important; 
    padding-top: 0;
    margin-top: 0;
    max-height: 65vh;
}

#jumbo_img{
    padding-top: 0;
    margin-top: 0;
    max-height: 65vh;
}

.login-checkbox{
	text-align: left;
	align-content: center;
}

html, body {
    margin: 0;
    max-height: 100%;
}
